div{

	border: 2px solid blue;
	font-family: verdana;
	border-radius: 26px;
	text-align: center;
}
h2{
	font-family: verdana;
	color: skyblue;
}
body{
	background-color: black;
}

input{
	border-radius: 15px;
	background-color: black;
	border: 2px solid blue;
	padding: 20px;
	margin: 15px;
	width: 30%;
}

button:hover{
	color: dodgerblue;
	background-color: black;
	font-family: verdana;
	border: 2px solid blue;
}

button{
	border: 2px solid blues;
	border-radius: 26px;
	text-align: center;
padding: 5px;
background-color: BLUE;
margin-top: 6px;
width: 100px;
}