table{

	border-radius: 5px;
	border: 2px solid grey ;
	font-size: 25px;
	font-family: verdana;
	background-color: burlywood;
}

input 
{
font-family: verdana;
	border: 3px solid brown ;
	width: 180px;
	height: 30px;
	border-radius: 15px;
	background-color: khaki;
}
button
{
font-family: verdana;
	border: 3px solid brown ;
	width: 180px;
	height: 30px;
	border-radius: 15px;
	background-color: khaki;
}
}
td{
border-radius: 8px;

}
tr{
border-radius: 5px;

}